@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

/* slide*/
.slideOut {
  animation-duration: 0s;
  animation-name: slideOut;
  opacity: 0;
  top: -100%;
  display: none;
}

.slideIn {
  animation-duration: 1s;
  animation-name: slideIn;
  opacity: 1;
  top: 0px;
  display: block;
}
/*
@keyframes slideOut {
from {
margin-top: 0;
opacity: 1;
height: 100%;
}

to {
margin-top: -100%;
opacity: 0;
height: 0px;
}
}*/

@keyframes slideIn {
  from {
    opacity: 0;
    margin-top: 50%;
    height: 0px;
  }

  to {
    opacity: 1;
    margin-top: 0;
    height: 100%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  background: #3C3C3C;
}

#avatar {
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.9em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.title {
  color : #4AA6C7;
}

.onglet {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.date-timeline {
  color : #4AA6C7;
  font-size: 1.5em;
}

.navbar {
  padding: 15px 10px;
  background: #515151;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar>.container, .navbar>.container-fluid {
  flex-wrap: unset !important;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.nav-a {
  color: var(--white) !important;
}

.nav-a:active {
  color: white !important;
  background: #4AA6C7 !important;
}

.nav-a:hover {
  color: #4AA6C7 !important;
  background: white !important;
}

.nav-a:focus {
  color:white !important;
  outline: none !important;
  background: #4AA6C7 !important;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.li-margin {
  margin-left: 40px;
  list-style-type: square;
}

.wrapper-name {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 1.1em;
  margin-bottom: 0px !important;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.letter {
  padding-left: 2px;
}

/* ---------------------------------------------------
TYPING
----------------------------------------------------- */

.typing-demo {
  width: 16ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
  color: white;
  transition: 0.5;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.LineTime, .SkillsMain {
  display: none;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */
svg {
  margin: 10px;
}

.svg {
  fill: white;
  padding: 10px;
}

.svg-language {
  margin: 10px;
}

.tel {
  display: flex;
}

.mail {
  display: flex;
}

.text-contact {
  font-size: 0.8em;
  padding-left: 0px !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  background: #252525;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #2C2C2C;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2C2C2C;
  text-align: center;
}

#sidebar ul.components {
  padding: 20px 0;
  border-top: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar h3 {
  color: #4AA6C7;
  padding-left: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #4AA6C7;
  background: #4AA6C7;
}

#test:active {
  background: #4AA6C7 !important;
}

.nav-item.active > a{
  background: #4AA6C7 !important;
}

.nav-item:hover {
  background: #fff;
  color: black;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  background: #4AA6C7;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article, a.article:hover {
  background: #4AA6C7 !important;
  color: #fff !important;
}

.horizontal_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex !important;
}

.horizontal_list li:before {
  content: none;
}
.horizontal_list li {
  padding-left: 0;
  text-indent: 0;
}

.get_social_content {
  margin-top: 15px;
}
.get_social_content h2 {
  margin-bottom: 8px;
}
.social_icons {
  margin-left: -8px;
  justify-content: center;
}

.linkedin {
  font-size: 40px !important;
  padding-left: 0px !important;
  width: 40px !important;
  height: 40px !important;
  background: transparent !important;
  transition: all 0s !important;
  color:  #0e76a8 !important;
}

.gitlab {
  font-size: 40px !important;
  padding-left: 0px !important;
  width: 40px !important;
  height: 40px !important;
  background: transparent !important;
  transition: all 0s !important;
  color:  #e24329 !important;

}

.github {
  font-size: 40px !important;
  padding-left: 0px !important;
  width: 40px !important;
  height: 40px !important;
  background: transparent !important;
  transition: all 0s !important;
  color:  #6cc644 !important;

}

.gitlab svg {
  margin: 0px !important;
}

.social_icons a {
  font-size: 35px;
  text-decoration: none;
  color: #000507;
  padding: 0 !important;
  padding: 0 5px !important;
  margin: 5px;
  display: unset !important;
}

.entypo-linkedin-circled {
  width: 40px !important;
  height: 40px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.social_icons a span.invisible {
  display: none;
}

.social_icons .github:hover {
  background: #6cc644 !important;
  color: #fff !important;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 37px;
  transition: all 0s !important;
  text-decoration: none !important;
}

.social_icons .linkedin:hover {
  background: #0e76a8 !important;
  color: #fff !important;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 37px;
  transition: all 0s !important;
  text-decoration: none !important;
}
.social_icons .gitlab:hover {
  background: #e24329 !important;
  color: #fff !important;
  border-top-left-radius: 37px;
  border-bottom-right-radius: 40px;
  transition: all 0s !important;
  text-decoration: none !important;
}

.social_icons a {
  font-size: 35px;
  text-decoration: none;
  color: #000507;
  padding: 0;
  padding: 0 5px;
}

/* ---------------------------------------------------
PROFILE
----------------------------------------------------- */

.box{
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 6px 17px #4aa6c7;
  border: 2px solid #ffffff;
  color: white;
  padding: 20px;
  border-radius: 10px !important;
}

.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:7px;
  text-align:center;
  box-shadow: 0 6px 17px #4aa6c7;
  border-radius: 10px;
}

#Profile {
  margin-top: 20px;
}

.img {
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 0);
}

.profil-header-text-container {
  position: relative;
  overflow: hidden;
}

.profil-header-text p {
  color: white;
}

.img {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  border-radius: 10px;
}
.profil-header {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  text-align: center;
  margin: auto;
}
.profil-header-text-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-top: 0px;
  height: inherit;
  /*min-height: 50vh;*/
}
.profil-header-text-container .profil-header-text {
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
}
.box {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin: 0 auto;
}

.a-propos {
  margin-top: 40px;
}

.title-profile {
  color: #4AA6C7;
}

.text-profil {
  white-space: pre-line;
  margin-left: 40px;
  margin-top: 20px;
}

.profil-image-div {
  text-align: center;
}

.profile-main-div {
  display: contents;
  text-align: center;
  justify-content: center;
}

.divider
{
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  right: 5%;
  width: 90%;
  height: 2px;
  background-image: linear-gradient(to right, #4AA6C7, transparent);
}

.div-transparent-skills:before
{
  content: "";
  position: absolute;
  margin-top: 3em;
  top: 0;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #4AA6C7, transparent);
}
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  background: #252525;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #515151;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: white;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* --------------------------------------------------
TIMELINE
----------------------------------------------------- */
/*#LineTime{
position: absolute;
right: 0;
width: 60%;
}*/

.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.timelineMAIN-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  /*border-bottom: 1px solid #E4EAEC;*/
}
.timelineMAIN-title p {
  margin: 0 auto;
  font-size: 16px;
  white-space: pre-line;
}

/*==================================
TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}

h4 {
  margin-top: 1.2em !important;
  margin-right: 1em;
}

.timeline h3{
  margin-top: 0px;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  padding-bottom: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 1.1em;
  font-weight: 350;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
  color: #0084C6;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #4AA6C7;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #4AA6C7;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.period .timeline-title {
  margin: 0;
}

/*==================================
COMPETENCES
==================================*/

#resumeProficiencies {
  display: flex;
  float: left;
  clear: right;
  width: 100%;
  margin: 60px 0px 30px 30px;
}

.itemSkill{
  margin-bottom: 1em;
}

.resumeProficienciesTop {
  float: left;
  clear: right;
  width: 100%;
  text-align: left;
  font-weight: 600;
  color : white;
}

.resumeProficienciesBottom {
  float: left;
  clear: right;
  width: 80%;
  margin: 2px 0px 0px 0px;
}

.progress {
  background: #e9e5e2;
  background-image: #212425;
    background-image: -webkit-linear-gradient(top, #323232, #545454);
    background-image: -moz-linear-gradient(top, #323232, #545454);
    background-image: -ms-linear-gradient(top, #323232, #545454);
    background-image: -o-linear-gradient(top, #323232, #545454);
    background-image: linear-gradient(top, #323232, #545454);
    height: 20px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;
    -webkit-transition: width 4.5s ease !important;
    -moz-transition: width 4.5s ease !important;
    -o-transition: width 4.5s ease !important;
    transition: width 4.5s ease !important;
  }

  .orange {
    background-color: #ffc409 !important;
  }

  .yellow {
    background-color: #FFFB09 !important;
  }

  .blue {
    background-color: #4AA6C7 !important;
  }

  .green {
    background-color: #2dd36f !important;
  }

  .rotate {
    transform: rotate(90deg);
  }

  .left-skills, .right-skills {
    display: grid;
  }

  /*----------------------------------------------
  Exp pro
  ----------------------------------------------*/

  #expPro {
    padding: 40px;
  }

  .exproMainDiv {
    display: none;
  }

  .row-expPro {
    justify-content: space-around;
  }

  .container-expPro {
    box-shadow: -7px 5px 9px #4aa6c7;
    border: solid 2px white;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .top-expro {
    justify-content: space-between;
    display: flex;
  }

  .top-expro > h3 {
    color: #4AA6C7;
    margin: auto 0;
  }

  .dateExppro {
    font-weight: bold;
    color: #fff;
  }

  .roleExpro {
    text-align: center;
    color: #fff;
  }

  .contentExppro {
    text-align: justify;
    white-space: pre-line;
  }

  .top-expro > svg {
    color: #fff;
    height: 50px !important;
    width: 50px !important;
  }

  /*----------------------------------------------
  Projects
  ----------------------------------------------*/

.projectMainDiv {
  display: none;
}

.itemProjet > h3 {
  color: white;
  margin-bottom: 30px;
}

.itemProjet {
  margin-bottom: 50px;
}

.itemProjet > h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.itemProjet > p {
  white-space: pre-line;
  margin-left: 40px;
  margin-right: 40px;
}

.gitProjetPers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.calendarProjetPers {
  display: flex;
}

.technoProjetPers, .calendarProjetPers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.technoProjetPers > .fa-file-code,
.calendarProjetPers > i {
  color: white;
  font-size: 40px;
}

.technoProjetPers > h5, .calendarProjetPers > h5  {
  margin-top: 15px;
  color: white;
  margin-left: 20px;
}

.gitProjetPers > h5 {
  margin-top: 35px;
  color: white;
  margin-left: 20px;
}
.technoProjetPers {
  display: flex;
}

.carousel {
  margin: auto;
  margin-bottom: 20px;
}
.carousel-caption > h5 {
  background-color: #90AFBB;
  border-radius: 10px;
  padding: 5px;
  text-shadow: #4AA6C7 1px 0 10px;
  font-size: 12px;
}

.fa-chevron-left, .fa-chevron-right {
  color: #8DC0D3;
  font-size: 30px;
}


  /*----------------------------------------------
  MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
    .timeline-centered, .timeline-centered .timeline-item, .timeline-centered .timeline-info, .timeline-centered .timeline-marker, .timeline-centered .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-centered .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-centered .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
      width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-centered .timeline-item.period {
      padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .timeline-centered .period .timeline-title {
      left: auto;
    }
  }

  /* ---------------------------------------------------
  MEDIAQUERIES
  ----------------------------------------------------- */
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
    }
    #sidebar.active {
      margin-left: 0;
      transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
    }
    #sidebarCollapse.active span {
      margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
    }
    .carousel {
      height: 50%;
      width: 50%;
    }

  }

  @media (min-width: 768px) {
    .carousel {
      height: 40%;
      width: 40%;
    }
  }

  @media (min-width: 1100px) {
    .carousel {
      height: 30%;
      width: 30%;
    }
  }

  @media (min-width: 1500px) {

    .main-profile-header {
      padding-left: 200px !important;
      padding-right: 200px !important;
    }
    .profil-header-text {
      text-align: initial;
    }
    .main-profile-header {
      padding-left: 200px !important;
      padding-right: 200px !important;
    }
    .carousel {
      height: 20%;
      width: 20%;
    }
  }

  @media (min-width: 1600px) {
    .carousel {
      height: 15%;
      width: 15%;
    }
  }

  @media (max-width: 1000px) {
    .SkillsCharts {
      position: relative;
      display: block;
      justify-content: center;
    }
    .chartLeft, .chartRight {
      margin: 0 auto !important;
    }
    .chartLeft {
      margin-bottom: 3em !important;
    }
    #resumeProficiencies {
      display: block;
    }
  }

  @media (min-width: 1000px) {
    .SkillsCharts {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    .chartRight {
      margin-right: 100px;
    }
    .chartLeft {
      margin-left: 100px;
    }
    #resumeProficiencies {
      display: flex;
    }
  }

  /*----------------------------------------------
  MOD: MARKER OUTLINE
  ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
  }
